$btnradius:50px;
$ukuran-font:10px;
$fs:15px;
$active:#636363;
$con-height:800px;
$fw:700;
$color-heading:#0081ff;
$color-heading2:#fff;
$mr-col:200px 15px;
$fw-heading:300;
$bs:140%;
$sc:#0081FF;
$w:#FFFFFF;
$fontfamily1: 'Leckerli One', cursive;
$fontfamily2:'Montserrat', sans-serif;
.btn-outline-warning{
  border-radius: $btnradius;
  font-size: 12px;
  padding: 8px 20px;
  text-transform: uppercase;
  -moz-box-shadow: 0px 0px 5px rgba(253, 253, 0, 1);
  -webkit-box-shadow: 0px 0px 5px rgba(253, 253, 0, 1);
  box-shadow: 0px 0px 5px rgba(253, 253, 0, 1);
  color: rgba(253, 253, 0, 1);
  border-color: rgba(253, 253, 0, 1);
}
#container-fluid.image{
  background: url(../assets/bg-header.jpg);
  background-size: 2010px;
  background-repeat: no-repeat;
  background-position: -60px -120px;
}
.editbg{
  background-color: rgba(37, 37, 37, 0.6);
  width: 100%;  
  height: 100%;

  .navbar{
    .navbar-toggler{
    border-color: $w;
    outline: 0;

  .fa{
    color: $w;

        }
      }
  }
  img{
      width: 125px;
  }
}
.navbar-nav{
  margin:0;
  li{
    padding: 10px 10px;
    font-family: $fontfamily2;
  }
  
  .nav-link{
    color: #FFF!important;
    font-size: 16px;
    font-weight: 500;
  }
  a.nav-link.active, .nav-link:hover{
    color: #8799A3!important;
  }
}

.title-hero{
  font-weight: 900;
  font-family:$fontfamily2;
  font-size: 42px;

  strong{
    font-weight: 900;
    font-family:$fontfamily2;
    font-size: 42px;
  }
}
strong{
  font-weight: $fw;
  color: $color-heading;
  font-family: $fontfamily2;
}
#hero-header{
  color: $color-heading2;
  margin: $mr-col;
}
#hero-header h2{
  font-weight: $fw-heading;
  font-family:$fontfamily2;
  font-size: 28px;
}
#hero-header h5{
  font-family: $fontfamily1;
  font-size: 28px;
}
.typo{
  color: #636363;
  font-size: 21px;
}
.btn-dark{
  border-radius: 50px;
  text-align: center;
  padding: 5px 35px;
  margin-top: 10px;
  background-color: #2b2b2b;
  text-transform: uppercase;
  font-family:$fontfamily2;
  line-height: 50px;
}
#hero{
  background-color: #0081FF;
  padding: 80px;
}
#hero h5{
  font-family: $fontfamily1;
  color: $color-heading2;
}
#hero h3{
  font-family: $fontfamily2;
  color: $color-heading2;
  font-weight: $fw;
}
#hero p{
  color: $color-heading2;
  font-family: $fontfamily2;
  font-weight: 400;
  margin-top: 40px;
  font-size: 17px;
}

.media-body h5{
  font-weight: $fw;
}
.col-8 h3{
  font-size: 36px;
}
.col-4 p{
  margin-top: 100px;
  font-size: 20px;
}
.hero-services{
  background-color: #007AF3;
  padding: 50px 0;
  color: $color-heading2;
  font-family: $fontfamily2;
}
.media img{
  width: 50px;
}
.services-icon{
  background-color: #0081FF;
  padding: 55px 0;
}
.text-icon{
  color: #FFF;
  font-size: 17px;
  font-family: $fontfamily2;
  font-weight: 400;
}

.share-icon li{
    display: inline-block;
  }
.share-icon li a{
      text-decoration: none;
      padding: 10px 7px;
    }
    .share-icon li.active a i.fa,
    .share-icon  a i.fa:hover{
        color: #fff!important;
    }
      .share-icon li i.fa{
      color: #4ba5fd;
      font-size: 20px;
}
.title-portofolio{
  font-family: $fontfamily1;
  font-size: 25px;
  color: #8799A3;
}
.heading-prtofolio{
  color: #252525;
  font-family: $fontfamily2;
  font-weight: 900;
}
#header-portofolio{
  padding: 80px 0;
}
.btn-info{
  background-color: #1CBBB3;
  padding: 15px 30px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  font-size: 10px;
  font-family: $fontfamily2;
  font-weight: $fw;
  border-radius: 50px;
  border: none;
}
#fluid-portofolio{
  padding: 0;
}
#portofolio{
  overflow: hidden;
}
#main-portofolio{
  overflow: hidden;
}
#image1{

}
#image2{
  height: 664px;
  transform: scale(1.1);
}
#image3{
  height: 100%;
  width: 100%;
  transform: scale(2.3);
  object-fit: cover;
}
#image4{
  height: 400px;
  width: 100%;
  transform: scale(1.1);
  overflow: hidden;
  margin-top: -1px;
}
#image5{
  height: 100%;
  width: 100%;
  transform: scale(1.1);
}
#image6{
  height: 275px;
  width: 100%;
  transform: scale(1.1);
}
#portofolio .card-img-overlay{
  background-color: rgba(0, 0, 0, 0.7);
}
#title-card{
  color: #8799a3;
  font-size: 18px;
  font-family: $fontfamily2;
}
#text-image{
  text-align: center;
  padding: 65px 15px;
  opacity: 0;
}
#text-image:hover{
  opacity: 1;
  transition-delay: 0s, 1s;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
#text-card{
  font-size: 21px;
  font-family: $fontfamily2;
  color: #FFFFFF;
  padding: 10px;
}
#text-image img{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

/* */
#title-card{
  color: #8799a3;
  font-size: 18px;
  font-family: $fontfamily2;
}
#image-active{
  text-align: center;
  padding: 65px 15px;

}
#image-active:hover{
  opacity: 1;
}
#text-card{
  font-size: 21px;
  font-family: $fontfamily2;
  color: #FFFFFF;
  padding: 10px;
}
#image-active img{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
#testimonial{
  padding: 140px 0;
  background: url(assets/bg-client.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.title-testimonial{
  font-family: $fontfamily1;
  font-weight: 400;
  font-size: 26px;
  color: #FFFFFF;
}
.heading-testimonial{
  font-family: $fontfamily2;
  font-weight: 900;
  font-size: 30px;
  color: #FFFFFF;
}
.slide-text{
  color: #FFFFFF;
  font-family: $fontfamily2;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}
.title-profile{
  color: #FFFF00;
  font-family: $fontfamily2;
  font-size: 15px;
}
.text-profile{
  color: #7c7c7c;
  font-family: $fontfamily2;
  font-size: 15px;
}
#profile img{
  width: 20%;
  height: 80%;
  object-fit: cover;
  border-radius: 100%
}
#profile a img:hover{
  color: yellow;
}
#client{
  text-align: center;
  margin-top: 50px;
}
.client-logo{
  width: 70%;
}
/* -- blog -- */

#blog{
  padding: 60px 0px;
  background-color: rgb(250, 241, 241);
  overflow: hidden;
}
.title-blog{
  font-family: $fontfamily1;
  font-size: 35px;
  color: #BBC7CD;
}
.heading-blog{
  font-family: $fontfamily2;
  font-size: 40px;
  font-weight: 900;
  color: #000000;
  line-height: 50px;
  margin-bottom: 2rem;
}
.text-blog{
  color: #636363;
  font-weight: 400;
  font-family: $fontfamily2;
  font-size: 25px;
  padding-bottom: 30px;
}
#post-foto{
  ol{
    li{
      padding: 2.5px 8px;
      border-radius: 50px;
      width: 1%;
    }
  }
    img{
      height: 564px;
    }
    span{
      color: #8799a3;
      font-family: $fontfamily2;
      font-weight: $fw;
    }
      h2{
      font-family: $fontfamily2;
      color: #FFFFFF;
      font-weight: 900;
      font-size: 33px;
    }
    p{
      color: #FFF;
      font-size: 19px;
      font-family: $fontfamily2;
      font-weight: 300;
    }
    .btn-readmore{
      text-transform: uppercase;
      padding: 15px 30px;
      border: none;
      text-align: center;
      cursor: pointer;
      font-size: 13px;
      font-family: $fontfamily2;
      color: #252525;
      border-radius: 50px;
      background-color:#FCFA2F;
      font-weight: $fw;
      margin-bottom: 111px;
    }

}
#blog-3{
  background-color: #007EF9;
  text-align: center;
  margin-top: 89px;
}
.author-blog3{
  color: #FCFA2F;
  font-weight: 300;
  font-size: 17px;
}
.quote-blog3{
  color: #FFF;
  font-size: 22px;
  font-weight: 300;
  font-family: 'Coustard', serif;
  margin-top: 1px;
  margin-bottom: 13px;
}
.text-blog3{
  color: #FFF;
  font-size: 17px;
  font-weight: 900;
}
#blog4{
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  p{
  color: #8799a3;
  font-family: $fontfamily2;
  font-weight: $fw;
  font-size: 16px;
}
h4{
  font-family: $fontfamily2;
  font-weight: 900;
  color: #252525;
  font-size: 23px;
  line-height: 30px;
  }
}

#blog5{
  .card-img-overlay{
background-color: rgba(18, 15, 15, 0.53);
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  p{
  color: #FFF;
  font-family: $fontfamily2;
  font-weight: 900;
  font-size: 16px;
}
h4{
  font-family: $fontfamily2;
  font-weight: 900;
  color: #FFF;
  font-size: 27px;

  }
  .play-icon{
    width: 23%;
    height: 32%;
  }
}


#blog6{
  .child6{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 10px rgb(229, 225, 242);
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  p.card-text{
    color: #8799a3;
    font-family: $fontfamily2;
    font-weight: $fw;
    font-size: 16px;
  }
  h4{
    color: #252525;
    font-family: $fontfamily2;
    font-size: 23px;
    font-weight: 900;
    line-height: 32px;
  }
  .text-blog6{
    font-family: 'Coustard', serif;
    color: #636363;
    font-weight: 100;
    font-size: 17px;
  }
}

#blog7{
  p{
    text-transform: uppercase;
    font-weight: $fw;
    color:#FFF;
    font-family: $fontfamily2;
    text-align: center;
  }
}
.blog7-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  background-color:#E91E62;
}
// footer contact
#footer-contact{
  background: url(assets/bg-contact.jpg);
  background-repeat: no-repeat;

}
#conatact{
  padding: 150px 0px;
}
.title-conatact{
  font-family: $fontfamily1;
  font-weight: 400;
  color: #FFF;
  font-size: 30px;
}
.contact-info{
  font-family: $fontfamily2;
  font-weight: 900;
  color: #FFF;
  line-height: 55px;
}
.get{
  font-family: $fontfamily2;
  font-weight: 900;
  color: #FFF;
  line-height: 55px;
}
#footer-address{
  p {
  color: #FFF;
  font-family: $fontfamily2;
  }
  span{
    color: #636363;
  }
  .find{
    color: #636363;
  }
  .email{
    color: #007EFA;
  }
}

.footer-icon li{
  display: inline-block;
}
  .footer-icon li a{
    padding: 8px 5px;
  }
    .footer-icon li a i{
      font-size: 16px;
      color: #434343;

      &:hover, &:active, &:focus{
        color: #8698a2!important;
      }
}
      .footer-icon li a i.active{
        color: #8698a2!important;
      }

.text-input{
  color: #636363;
  font-family: $fontfamily2;
}
#input{
[type=text],
[type=email],
{
  border-radius: 50px;
  background-color: #2c2c2c;
}
#textarea{
  border-radius: 15px;
  background-color: #2c2c2c;
  }
}

#form-input{
  padding: 20px 0px 15px;
}
#btn-send{
  border-radius: 50px;
  padding: 18px 45px;
  text-align: center;
  cursor: pointer;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
  font-family: $fontfamily2;
  font-size: 13px;
}
#send{
  padding-top: 15px;
}
// footer--copyright
#footer-copyright{
  background-color: rgba(16, 17, 16, 0.70);
  padding: 20px 0px;
  p{
    color: #464646;
    font-family: "Cambay",sans-serif;
  }
  .site{
    color: #8799A3;
  }
  .albedo{
    color: #636363;
  }
  .company{
    color: #626262;
  }
  .back{
    color:#464646;
  }
}
