$btnradius:50px;
$ukuran-font:10px;
$fs:15px;
$active:#636363;
$con-height:800px;
$fw:700;
$color-heading:#0081ff;
$color-heading2:#fff;
$mr-col:200px 15px;
$fw-heading:300;
$bs:140%;
$sc:#0081FF;
$fontfamily1: 'Leckerli One', cursive;
$fontfamily2:'Montserrat', sans-serif;
.btn-outline-warning{
  border-radius: $btnradius;
  font-size: $ukuran-font;
  padding: 6px 30px;
}
.container-fluid{
  background: url(assets/bg-header.jpg);
  height: $con-height;
  background-size: 140%;

}
.navbar-nav{
  li{
    padding: 10px 10px;
    font-family: $fontfamily2;
  }
}
.display-5{
  font-weight: $fw;
  font-family:$fontfamily2;
}
strong{
  font-weight: $fw;
  color: $color-heading;
  font-family: $fontfamily2;
}
.col-6{
  color: $color-heading2;
  margin: $mr-col;
}
.col-6 h2{
  font-weight: $fw-heading;
  font-family:$fontfamily2;
}
.col-6 h5{
  font-family: $fontfamily1;
}
.typo{
  color: #636363;
}
.btn-lg{
  border-radius: 50px;
  text-align: center;
  padding: 12px 25px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: $fw;
  text-transform: uppercase;
  font-size: 11px;
  font-family:$fontfamily2;
}
#section{
  background-color: #0081FF;
  padding: 10px;
  height: 420px;
}
#section h5{
  font-family: $fontfamily1;
  color: $color-heading2;
}
#section h3{
  font-family: $fontfamily2;
  color: $color-heading2;
  font-weight: $fw;
}
#section p{
  color: $color-heading2;
}
#section{
}
  .container{
}
  .row{
    .col-8{
      margin-top: 60px;
    }
    .col-4{
      margin-top: 110px;
    }
  }
.media-body h5{
  font-weight: $fw;
}
.media-body p{
  font-size: $fs;
}
.hero-services{
  background-color: #007AF3;
  height: 270px;
  color: $color-heading2;
  font-family: $fontfamily2;
}
.media img{
  width: 50px;
}
.lorem-bottom{
  margin-top: 10px;
}
